*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.currency-converter{
    max-width: 500px;
    margin: auto;
    text-align: center;
    background-color: #f9f9f9;
    padding: 25px;
    border-radius: 8px;
}

.currency-converter h1{
    margin-bottom: 30px;

}

.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container input{
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 14px;
    outline: none;
    margin-bottom: 30px;
}

.input-container select{
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14;
    outline: none;
}

.currency-converter .exchange-rate{
   text-align: center;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    height: auto;
    width: auto;
}